// Properties for all page
body, html {
    margin: 0; //remove margin
    font-family: $police-text;
    counter-reset: li; // reset counter for operation section
}
// Containers (Operations & Restaurants sections)
.containers {

    max-width: 1280px; //sets the maximum width of containers
    margin: auto;
}
// Footer container
.container {

    max-width: 1280px;
    margin-left: 0;
}