.footer{
    background-color: #353535;
}
.footer-ctn{
    display: flex;
    flex-direction: column;
    
    &__logo{
        color: white;
        font-family: $police-logo_title;
        font-size: 1.2rem;
        margin: 1rem 0 .5rem 2em;
    }
    &__item{
        list-style: none;
        a{
            color: #fff;
            text-decoration: none;
            i{
                width: 1.2rem;
                margin-right: .5rem;
            }
        }
    }
}