.footer {

    background-color: darken($color-background, 80%);
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    margin: auto;
    margin-left: -15px;

    &__logo {
        color: $color-background;
        font-family: $police-logo_title;
        font-size: 1.2rem;
        margin: 1rem 0 .5rem 2em;

        @media (min-width: 768px) {
            font-size: 1.5rem;
        }
    }

    &__items {

        @media (min-width: 768px) {
            padding-bottom: 5px;
        }
    }
    
    &__item {
        list-style: none;
        line-height: 25px;
        width: fit-content;

        a { //links footer
            text-decoration: none;
            color: $color-background;

            &:hover {
                font-weight: bold;
            }

            i { //icon footer
                width: 1.2rem;
                margin-right: .5rem;
            }
        }
    }
}