.footer {

    background-color: darken($color-background, 80%);
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    margin: auto;

    @media (max-width: 1316px) {
        margin-left: -15px;
    }

    &__logo {
        color: $color-background;
        font-family: $police-logo_title;
        font-size: 1.2rem;
        margin: 1rem 0 .5rem 2em;
    }
    &__item {
        list-style: none;
        line-height: 25px;
        
        &:hover {
            width: fit-content;
            border-bottom: 1px solid #fff;
        }

        a { //links footer
            text-decoration: none;
            color: $color-background;

            i { //icon footer
                width: 1.2rem;
                margin-right: .5rem;
            }
        }
    }
}