// Menu
.menu {

  max-width: 1280px;
  margin: auto;
  margin-top: -4rem;
  padding-bottom: 40px;
  border-radius: 2rem 2rem 0 0;
  background-color: darken($color-background, 3%);
  z-index: 1; // Overlap
  position: relative;

  &__header {
    font-family: $police-logo_title;
    padding: 1rem 2rem 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__subtitle {
    text-transform: uppercase;
    font-weight: 100;
    position: relative;
    line-height: 2;

    &:after {
      content: ""; // to add underline 
      width: 2.5rem;
      height: .2rem;
      background-color: $color-tertiary;
      display: block;
      margin-top: -.25rem;
    }
  }

  &__footer {

    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 20px;
  }
}
// Menu List
.menuList {

  padding: 1rem;
  list-style: none;
  display: flex;
  background-color: $color-background;
  border-radius: 0.75rem;
  margin: 1rem 0;
  overflow: hidden;
  cursor: pointer;
  max-width: 100%;
  transform: scale(0);
  animation: 1.5s itemsMove forwards;

  &:nth-child(1){
    animation-delay: 0s;
  }
  &:nth-child(2){
    animation-delay: .3s;
  }
  &:nth-child(3){
    animation-delay: .4s;
  }
  &:nth-child(4){
    animation-delay: .5s;
  }

  &__text {
    flex: 1;
    text-overflow: ellipsis; // add "..."
    overflow: hidden; 
    white-space: nowrap;
  }

  &__title {
    margin: 0;
    text-overflow: ellipsis;
  }

  &__subtitle {
    margin: 0;
    text-overflow: ellipsis;
  }

  &__price {
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-left: 0.5rem;
  }

  &__check {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-tertiary;
    margin: -1rem -5rem -1rem 1rem;
    width: 4rem;
    transition-duration: .5s;
  }

  &:hover &__check {
    margin-right: -1rem;
  }

  &__checkIcon {
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius: 100px;
    background-color: $color-background;
    height: 1.6rem;
    width: 1.6rem;
    transform: rotate(180deg);
    transition-duration: 0.5s;

  }

  &:hover &__checkIcon {
    transform: rotate(0);
  }

  &__icon {
    color: darken($color-tertiary, 2%);
  }
}