.button {

    cursor: pointer;
    font-weight: 500;
    font-size: 1.1rem;
    padding: .75rem 1.5rem;
    border: 0;
    border-radius: 100px;
    color: $color-background;
    background-image: linear-gradient(0deg, $color-primary, $color-secondary);
    box-shadow: $shadow;

    &:hover {
        animation: .3s button forwards;
    }
}