.button {

    cursor: pointer;
    font-size: 1.1rem;
    padding: 1rem 1rem;
    border: 0;
    border-radius: 100px;
    color: $color-background;
    background-image: linear-gradient(0deg, lighten($color-primary, 5%), $color-secondary);
    box-shadow: $shadow;
    outline: none;

    &:hover {
        animation: .3s button forwards;
    }
}

.button-restaurant {

    cursor: pointer;
    font-size: 1.1rem;
    padding: 1rem 3rem;
    margin-bottom: 15px;
    border: 0;
    border-radius: 100px;
    color: $color-background;
    background-image: linear-gradient(0deg, lighten($color-primary, 5%), $color-secondary);
    box-shadow: $shadow;
    outline: none;

    &:hover {
        animation: .3s button forwards;
    }
}