// Basic properties for all hearts icon
.fa-heart {

    font-size: 30px;

    &:hover{
        cursor: pointer;
    }
}
// Homepage hearts
    // Basic heart
.heart-1 {

    opacity: 1;
    
    &:hover {
        animation: .3s disapear forwards; // change opacity
        visibility: hidden;
    }
}
// Fill heart
.heart-2 {

    opacity: 0;
    color: transparent; // remove color stroke
    -webkit-background-clip: text; // add background color
    background-size: auto;
    background: linear-gradient($color-primary, $color-secondary);
    
    &:hover {

        animation: .5s fill-heart forwards; // change opacity
    }
}
// Restaurantspage heart
    // Basic heart
.menu__heart-1 {

    position: absolute; // keep position to left 
    left: 95%;
    opacity: 1;
    
    &:hover {
        animation: .3s disapear forwards; // change opacity
    }

    @media (max-width: 768px) { // change position for smartphone & tablet landscape
        left: 85%;
    }
}
    // Fill heart
.menu__heart-2 {

    opacity: 0;
    position: absolute;
    left: 95%;
    color: transparent;
    -webkit-background-clip: text;
    background: linear-gradient($color-primary, $color-secondary);
    
    &:hover {

        animation: .5s fill-heart forwards; // change opacity
    }

    @media (max-width: 768px) { // change position for smartphone & tablet landscape
        left: 85%;
    }
}