.fa-heart {

    font-size: 30px;
    &:hover{
        cursor: pointer;
    }
}
// Homepage hearts
.heart-1 {

    opacity: 1;
    
    &:hover {
        animation: .3s disapear forwards;
    }
}
.heart-2 {

    opacity: 0;
    background: linear-gradient($color-primary, $color-secondary);
    -webkit-background-clip: text;
    background-size: auto;
    color: transparent;
    
    &:hover {

        animation: .5s fill-heart forwards;
    }
}
// Restaurantspage heart
.menu__heart-1 {
    position: absolute;
    left: 95%;
    opacity: 1;
    
    &:hover {
        animation: .3s disapear forwards;
    }

    @media (max-width: 768px) {
        left: 85%;
    }
}
.menu__heart-2 {

    opacity: 0;
    position: absolute;
    left: 95%;
    color: transparent;
    background: linear-gradient($color-primary, $color-secondary);
    -webkit-background-clip: text;
    
    &:hover {

        animation: .5s fill-heart forwards;
    }

    @media (max-width: 768px) {
        left: 85%;
    }
}