//Localisation div
.localisation {

    display: flex;
    justify-content: center;
    padding: 1rem 1rem;
    background-color: darken($color-background, 5%);
    font-size: 1rem;

    &__marker {
        margin-right: 1rem;
        font-weight: 700;
    }

    &__text {
        font-weight: 700;
    }
}
//Leading section
.leading {

    padding: 2rem;
    padding-bottom: 3rem;
    text-align: center;
    background-color: darken($color-background, 1.5%);

    &__title {
        margin: 0;
        font-weight: bold;
    }
    &__subtitle {
        font-weight: 300;
        font-size: 1.1rem;
        padding-bottom: 10px;
    }
}
//Operation section
.operation {

    padding: 1.5rem 1rem;

    &__title {
        margin: 0;
        padding-top: 30px;
        padding-bottom: 10px;
    }

    &__items {
        list-style: none;
        display: flex;
        padding: 0;
        margin-left: .5rem;

        @media (max-width: 1000px) {
            display: flex;
            flex-direction: column;
        }
        :nth-child(3){ // change color background for third element
            background-color: lighten($color-primary, 37%);
            }
    }
    &__item {
        box-shadow: 0.25rem 0.25rem 0.5rem rgba(143, 143, 143, 0.2);
        border-radius: 1.25rem;
        background-color: darken($color-background, 1%);
        padding: 1.5rem 1.5rem 1.1rem 1.5rem;
        flex: 1;
        margin-right: 2rem;
        display: flex;
 
        &::before { // Add number properties 
            counter-increment: li;
            content: counter(li) "";
            background: $color-primary;
            color: #fff;
            height: 1.5rem;
            width: 1.5rem;
            border-radius: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 15px;
            margin-left: -35px;
        }

        @media (max-width: 1000px) {
            margin: 0;
            margin-bottom: 2rem;
        }
    }
    &__icon{
        margin-right: 1rem;
        color: #7e7e7e;
    }
    &__text {
        font-weight: bold;
    }
}
.fa-store { // color the third icon 
    color: $color-primary;
}